@font-face {
    font-family: 'Roboto';
    src: url('../police/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../police/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Shrikhand';
    src: url('../police/Shrikhand-Regular.otf') format('truetype');
}

$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

a {
    text-decoration: unset;
    color: unset;
    display: block;
}

body {
    margin: 0;
    font-family: 'Roboto-Bold', sans-serif;
}

//page "index"!

.header {
    box-shadow: rgba(0, 0, 0, 0.089) 0px 5px 5px;
    &__img {
        text-align: center;
        height: 65px;
        &__i {
            position: absolute;
            left: 1.1em;
            top: 1.3em;
            font-size: 1.3em;
            color: rgba(0, 0, 0, 0.767);
        }
    }
    &__img img {
        width: 10em;
        padding-top: 20px;
    }
}

.localisation {
    display: flex;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.072);
    justify-content: center;
    &__logo {
        margin: auto;
        margin-right: 10px;
        color: rgba(0, 0, 0, 0.795);
    }
    &__txt {
        margin: auto;
        margin-left: 10px;
        color: rgba(0, 0, 0, 0.795);
    }
}

.intro {
    height: 290px;
    background: rgba(0, 0, 0, 0.030);
    text-align: center;
    &__titre {
        margin: auto;
        margin-top: 0;
        padding-top: 34px;
        font-size: 1.55em;
        width: 79%;
    }
    &__txt {
        font-family: 'Roboto', sans-serif;
        font-size: 1.1em;
        margin: auto;
        margin-top: 0.6em;
        width: 85%;
        margin-bottom: 2em;
    }
    &__btn {
        background: $couleur-primaire;
        color: white;
        padding: 1em 0;
        width: 220px;
        margin: auto;
        border-radius: 3em;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.349);
        text-shadow: 1px 1px 2px darken($couleur-primaire, 8%);
    }
}
.fonctionnement {
    height: 370px;
    padding-left: 20px;
    padding-right: 20px;
    &--margin{
        margin: auto;
        margin-left: 0.5em;
        margin-right: 0;
    }
    &__titre {
        margin-top: 50px;
        margin-bottom: 40px;
    }
    &__regle {
        width: 100%;
        background:  rgba(0, 0, 0, 0.030);
        height: 75px;
        margin-bottom: 20px;
        display: flex;
        border-radius: 1.5em;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.192);
        &__nombre {
            border-radius: 1em;
            padding: 2px 7px;
            position: relative;
            left: -18px;
            background: $couleur-primaire;
            color: white;
            font-size: 0.9em;
        }
        &__i {
            font-size: 1.3em;
            margin-right: 1em;
            color: rgba(0, 0, 0, 0.466);
            &--primaire{
                color: $couleur-primaire;
                font-size: 1.1em;
            }
        }
        &__txt {
            font-size: 1em;
        }
    }
}

.restaurant {
    height: 1225px;
    background: rgba(0, 0, 0, 0.030);
    padding-left: 20px;
    padding-right: 20px;
    &__titre {
        padding-top: 55px;
    }
    &__preview {
        height: 250px;
        margin-bottom: 15px;
        background: white;
        border-radius: 1.2em;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.295);
        &__img {
            width: 100%;
            height: 70%;
            border-radius: 1.2em 1.2em 0 0;
        }
        &__new {
            background: $couleur-tertiaire;
            text-align: center;
            padding-bottom: 10px;
            width:85px;
            font-size: .9em;
            color: darken($couleur-tertiaire, 40%);
            border-radius: 3px;
            position: relative;
            right: -16.5em;
            bottom: 14.5em;
        }
        &__nom {
            margin: 0;
            margin-left: 15px;
            margin-top: 10px;
            width: 75%;
            float: left;
        }
        &__i {
            font-size: 1.5em;
            margin-top: 19px;
            margin-left: 30px;
        }
        &__txt {
            margin: 0;
            font-family: 'Roboto', sans-serif;
            margin-left: 15px;
            width: 75%;
            float: left;
            margin-top: 3px;
        }
    }
}

.footer {
    height: 200px;
    background: rgba(0, 0, 0, 0.822);
    color: white;
    padding-left: 25px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    &__titre {
        font-family: 'Shrikhand';
    }
    &__lien {
        margin-bottom: 8px;
        &__i {
            width: 1.9em;
        }
    }
}

//page restaurant!

.imageintro img {
    width: 100%;
}

.menu {
    border-radius: 2em 2em 0 0;
    position: relative;
    bottom: 2.1em;
    background: rgb(240, 240, 240);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1em;
    padding-bottom: 5em;
    margin-bottom: 0;
    &--modif {
        bottom: 16em;
    }
    &__nom {
        font-family: 'Shrikhand';
        font-size: 1.7em;
        float: left;
        width: 10em;
    }
    &__i {
        font-size: 1.5em;
        margin-top: 0.8em;
        margin-left: 25px;
    }
    &__titre {
        font-family: 'Roboto';
        font-size: 1em;
        margin-top: 2.4em;
        margin-bottom: 5px;
    }
    &__sousligne {
        border: solid 2px $couleur-tertiaire;
        width: 40px;
    }
    &__proposition {
        background: white;
        padding: 10px;
        margin-bottom: 1em;
        margin-top: 1em;
        border-radius: 1em;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.151);
        &__plat {
            font-size: 1.15em;
            margin: 0;
        }
        &__precision {
            font-family: 'Roboto';
            font-size: 0.95em;
            margin: 0;
            margin-top: 5px;
            float: left;
            word-wrap: break-word;
            width: 89%;
        }
        &__prix {
            margin: 0;
            font-size: 0.95em;
            padding-top: 6px;
        }
    }
    &__btn {
        margin: auto;
        width: 185px;
        text-align: center;
        background-color: $couleur-primaire;
        color: white;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 3em;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.315);
        margin-top: 3em;
    }
}