@font-face {
    font-family: 'Roboto';
    src: url('../police/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../police/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Shrikhand';
    src: url('../police/Shrikhand-Regular.otf') format('truetype');
}

$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

@mixin responsive1 {
    @media screen and (min-width: 550px){
        @content;
    }  
}

@mixin responsive2 {
    @media screen and (min-width: 1000px){
        @content;
    }  
}

@mixin responsive3 {
    @media screen and (max-width: 355px){
        @content;
    }
}

a {
    text-decoration: unset;
    color: unset;
    display: block;
}

body {
    margin: 0;
    font-family: 'Roboto-Bold', sans-serif;
}

//page "index"!

.bloc_page {
    max-width: 1455px;
    margin: auto;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.178);
    position: relative;
}

.header {
    box-shadow: rgba(0, 0, 0, 0.089) 0px 5px 5px;
    &__img {
        text-align: center;
        height: 65px;
        &__i {
            position: absolute;
            left: 1.1em;
            top: 1.3em;
            font-size: 1.3em;
            color: rgba(0, 0, 0, 0.767);
        }
    }
    &__img img {
        width: 10em;
        padding-top: 20px;
    }
}

.localisation {
    display: flex;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.072);
    justify-content: center;
    &__logo {
        margin: auto;
        margin-right: 10px;
        color: rgba(0, 0, 0, 0.795);
    }
    &__txt {
        margin: auto;
        margin-left: 10px;
        color: rgba(0, 0, 0, 0.795);
    }
}

.intro {
    height: 290px;
    background: rgba(0, 0, 0, 0.030);
    text-align: center;
    &__titre {
        margin: auto;
        margin-top: 0;
        padding-top: 34px;
        font-size: 1.55em;
        width: 79%;
    }
    &__txt {
        font-family: 'Roboto', sans-serif;
        font-size: 1.1em;
        margin: auto;
        margin-top: 0.6em;
        width: 85%;
        margin-bottom: 2em;
    }
    &__btn {
        background: linear-gradient(347deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
        color: white;
        padding: 1em 0;
        width: 220px;
        margin: auto;
        border-radius: 3em;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.349);
        transform: scale(1);
        transition: transform 200ms;
        &:hover {
            transform: scale(1.1);
        }
    }
}
.fonctionnement {
    height: 370px;
    padding-left: 20px;
    padding-right: 20px;
    @include responsive2(){
        display: flex;
        height: 220px;
    }
    &--margin{
        margin: auto;
        margin-left: 0.5em;
        margin-right: 0;
    }
    &__titre {
        margin-top: 50px;
        margin-bottom: 40px;
        @include responsive2(){
            position: absolute;
            margin-left: 1em;
        }
    }
    &__regle {
        width: 100%;
        background:  rgba(0, 0, 0, 0.030);
        height: 75px;
        margin-bottom: 20px;
        display: flex;
        border-radius: 1.5em;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.192);
        @include responsive1(){
            margin: auto;
            width: 32em;
            margin-bottom: 20px;
        }
        @include responsive2(){
            margin: auto;
            width: 18em;
            margin-top: 120px;
        }
        &__nombre {
            border-radius: 1em;
            padding: 2px 7px;
            position: relative;
            left: -18px;
            background: $couleur-primaire;
            color: white;
            font-size: 0.9em;
        }
        &__i {
            font-size: 1.3em;
            margin-right: 1em;
            color: rgba(0, 0, 0, 0.466);
            &--primaire{
                color: $couleur-primaire;
                font-size: 1.1em;
            }
        }
        &__txt {
            font-size: 1em;
        }
    }
}

.restaurant {
    background: rgba(0, 0, 0, 0.030);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    @include responsive2(){
        padding-left: 2em;
        padding-right: 2em;
    }
    &__titre {
        padding-top: 55px;
        @include responsive2(){
            margin-left: 1em;
        }
    }
    &__conteneur {
        @include responsive1(){
            display: flex;
            flex-wrap: wrap;
        }
        &__preview {
            margin-bottom: 15px;
            padding-bottom: 15px;
            background: white;
            border-radius: 1.2em;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.295);
            position: relative;
            @include responsive1(){
                width: 45%;
                margin: auto;
                margin-bottom: 30px;
            }
            @include responsive2(){
                margin-bottom: 2em;
                margin-top: 2em;
            }
            &__img {
                width: 100%;
                height: 175px;
                border-radius: 1.2em 1.2em 0 0;
                &--1 {
                    background: url('../img/palette.jpg');
                    background-position: center;
                    background-size: cover;
                }
                &--2 {
                    background: url('../img/note.jpg');
                    background-position: center;
                    background-size: cover;
                }
                &--3 {
                    background: url('../img/francaise.jpg');
                    background-position: center;
                    background-size: cover;
                }
                &--4 {
                    background: url('../img/delice.jpg');
                    background-position: center;
                    background-size: cover;
                }
            }
            &__new {
                background: $couleur-tertiaire;
                text-align: center;
                padding-bottom: 6px;
                padding-top: 6px;
                width: 85px;
                font-size: .9em;
                color: darken($couleur-tertiaire, 40%);
                border-radius: 3px;
                position: absolute;
                top: 10px;
                right: 15px;
            }
            &__nom {
                margin: 0;
                margin-left: 15px;
                margin-top: 10px;
            }
            &__i {
                font-size: 1.4em;
                position: absolute;
                right: 25px;
                bottom: 30px;
            }
            &__txt {
                margin: 0;
                font-family: 'Roboto', sans-serif;
                margin-left: 15px;
                margin-top: 3px;
            }
        }
    }
}

.footer {
    height: 200px;
    background: rgb(51, 51, 51);
    color: white;
    padding-left: 25px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    &__conteneur {
        max-width: 1455px;
        margin: auto;
        width: 100%;
    }
    &__titre {
        font-family: 'Shrikhand';
    }
    &__lien {
        margin-bottom: 8px;
        &__i {
            width: 1.9em;
        }
    }
}

//page restaurant!

.imageintro{
    height: 260px;
    &--1 {
        background: url('../img/palette.jpg');
        background-position: center;
        background-size: cover;
    }
    &--2 {
        background: url('../img/note.jpg');
        background-position: center;
        background-size: cover;
    }
    &--3 {
        background: url('../img/francaise.jpg');
        background-position: center;
        background-size: cover;
    }
    &--4 {
        background: url('../img/delice.jpg');
        background-position: center;
        background-size: cover;
    }
}

.menu {
    border-radius: 2em 2em 0 0;
    background: rgb(240, 240, 240);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1em;
    padding-bottom: 5em;
    position: relative;
    bottom: 40px;
    margin-bottom: -40px;
    &__nom {
        font-family: 'Shrikhand';
        font-size: 1.7em;
        width: 10em;
        @include responsive1(){
            margin: auto;
            margin-top: 1em;
        }
        @include responsive3(){
            font-size: 1.35em;
        }
    }
    &__i {
        font-size: 1.5em;
        margin-top: 0.8em;
        margin-left: 25px;
        position: absolute;
        top: 0.6em;
        right: 2em;
        @include responsive3(){
            top: 1.5em;
            right: 1em;
        }
    }
    &__titre {
        font-family: 'Roboto';
        font-size: 1em;
        margin-top: 2.4em;
        margin-bottom: 5px;
        @include responsive1() {
            text-align: center;
        }
    }
    &__sousligne {
        border: solid 2px $couleur-tertiaire;
        width: 40px;
        @include responsive1(){
            margin: auto;
            width: 100px;
        }
    }
    &__proposition {
        background: white;
        padding: 10px;
        margin-bottom: 1em;
        margin-top: 1em;
        border-radius: 1em;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.151);
        position: relative;
        overflow: hidden;
        @include responsive1(){
            margin: auto;
            margin-bottom: 1em;
            margin-top: 1em;
            width: 60%;
        }
        &__plat {
            font-size: 1.15em;
            margin: 0;
        }
        &__precision {
            font-family: 'Roboto';
            font-size: 0.95em;
            margin: 0;
            margin-top: 5px;
            word-wrap: break-word;
            width: 87%;
            transition: width ease-in-out 450ms 150ms;
            border: 1px solid;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        &__prix {
            margin: 0;
            font-size: 0.95em;
            padding-top: 6px;
            position: absolute;
            right: 18px;
            bottom: 13px;
            transition: transform 450ms ease-in-out 150ms;
        }
        &__animation{
            position: absolute;
            top: 0;
            bottom: 0;
            background: $couleur-tertiaire;
            color: white;
            text-align: center;
            width: 20%;
            right: -20%;
            font-size: 1.7em;
            transition: transform 500ms ease-in-out 100ms;
            &__valide{
                margin-top: 25%;
                transition: transform 500ms ease-in-out 100ms;
            }
        }
        &:hover > .menu__proposition{
            &__animation{
                transform: translateX(-100%);
                > .menu__proposition__animation__valide{
                transform: rotate(1turn);
                }
            }
            &__prix{
                transform: translateX(-250%);
            }
            &__precision{
                width: 68%;
            }
        }
    }
    &__btn {
        margin: auto;
        width: 185px;
        text-align: center;
        background: linear-gradient(347deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
        color: white;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 3em;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.315);
        margin-top: 3em;
        transform: scale(1);
        transition: transform 200ms;
        &:hover {
            transform: scale(1.1);
        }
    }
}