@font-face {
  font-family: "Roboto";
  src: url("../police/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../police/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../police/Shrikhand-Regular.otf") format("truetype");
}
a {
  text-decoration: unset;
  color: unset;
  display: block;
}

body {
  margin: 0;
  font-family: "Roboto-Bold", sans-serif;
}

.bloc_page {
  max-width: 1455px;
  margin: auto;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.178);
  position: relative;
}

.header {
  box-shadow: rgba(0, 0, 0, 0.089) 0px 5px 5px;
}
.header__img {
  text-align: center;
  height: 65px;
}
.header__img__i {
  position: absolute;
  left: 1.1em;
  top: 1.3em;
  font-size: 1.3em;
  color: rgba(0, 0, 0, 0.767);
}
.header__img img {
  width: 10em;
  padding-top: 20px;
}

.localisation {
  display: flex;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.072);
  justify-content: center;
}
.localisation__logo {
  margin: auto;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.795);
}
.localisation__txt {
  margin: auto;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.795);
}

.intro {
  height: 290px;
  background: rgba(0, 0, 0, 0.03);
  text-align: center;
}
.intro__titre {
  margin: auto;
  margin-top: 0;
  padding-top: 34px;
  font-size: 1.55em;
  width: 79%;
}
.intro__txt {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  margin: auto;
  margin-top: 0.6em;
  width: 85%;
  margin-bottom: 2em;
}
.intro__btn {
  background: #9356dc;
  background: linear-gradient(347deg, #9356dc 0%, #ff79da 100%);
  color: white;
  padding: 1em 0;
  width: 220px;
  margin: auto;
  border-radius: 3em;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.349);
}

.fonctionnement {
  height: 370px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 1000px) {
  .fonctionnement {
    display: flex;
    height: 220px;
  }
}
.fonctionnement--margin {
  margin: auto;
  margin-left: 0.5em;
  margin-right: 0;
}
.fonctionnement__titre {
  margin-top: 50px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1000px) {
  .fonctionnement__titre {
    position: absolute;
    margin-left: 1em;
  }
}
.fonctionnement__regle {
  width: 100%;
  background: rgba(0, 0, 0, 0.03);
  height: 75px;
  margin-bottom: 20px;
  display: flex;
  border-radius: 1.5em;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.192);
}
@media screen and (min-width: 550px) {
  .fonctionnement__regle {
    margin: auto;
    width: 32em;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .fonctionnement__regle {
    margin: auto;
    width: 18em;
    margin-top: 120px;
  }
}
.fonctionnement__regle__nombre {
  border-radius: 1em;
  padding: 2px 7px;
  position: relative;
  left: -18px;
  background: #9356DC;
  color: white;
  font-size: 0.9em;
}
.fonctionnement__regle__i {
  font-size: 1.3em;
  margin-right: 1em;
  color: rgba(0, 0, 0, 0.466);
}
.fonctionnement__regle__i--primaire {
  color: #9356DC;
  font-size: 1.1em;
}
.fonctionnement__regle__txt {
  font-size: 1em;
}

.restaurant {
  background: rgba(0, 0, 0, 0.03);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1000px) {
  .restaurant {
    padding-left: 2em;
    padding-right: 2em;
  }
}
.restaurant__titre {
  padding-top: 55px;
}
@media screen and (min-width: 1000px) {
  .restaurant__titre {
    margin-left: 1em;
  }
}
@media screen and (min-width: 550px) {
  .restaurant__conteneur {
    display: flex;
    flex-wrap: wrap;
  }
}
.restaurant__conteneur__preview {
  margin-bottom: 15px;
  padding-bottom: 15px;
  background: white;
  border-radius: 1.2em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.295);
  position: relative;
}
@media screen and (min-width: 550px) {
  .restaurant__conteneur__preview {
    width: 45%;
    margin: auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1000px) {
  .restaurant__conteneur__preview {
    margin-bottom: 2em;
    margin-top: 2em;
  }
}
.restaurant__conteneur__preview__img {
  width: 100%;
  height: 175px;
  border-radius: 1.2em 1.2em 0 0;
}
.restaurant__conteneur__preview__img--1 {
  background: url("/public/img/palette.jpg");
  background-position: center;
  background-size: cover;
}
.restaurant__conteneur__preview__img--2 {
  background: url("/public/img/note.jpg");
  background-position: center;
  background-size: cover;
}
.restaurant__conteneur__preview__img--3 {
  background: url("/public/img/francaise.jpg");
  background-position: center;
  background-size: cover;
}
.restaurant__conteneur__preview__img--4 {
  background: url("/public/img/delice.jpg");
  background-position: center;
  background-size: cover;
}
.restaurant__conteneur__preview__new {
  background: #99E2D0;
  text-align: center;
  padding-bottom: 6px;
  padding-top: 6px;
  width: 85px;
  font-size: 0.9em;
  color: #278870;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  right: 15px;
}
.restaurant__conteneur__preview__nom {
  margin: 0;
  margin-left: 15px;
  margin-top: 10px;
}
.restaurant__conteneur__preview__i {
  font-size: 1.4em;
  position: absolute;
  right: 25px;
  bottom: 30px;
}
.restaurant__conteneur__preview__txt {
  margin: 0;
  font-family: "Roboto", sans-serif;
  margin-left: 15px;
  margin-top: 3px;
}

.footer {
  height: 200px;
  background: #333333;
  color: white;
  padding-left: 25px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}
.footer__conteneur {
  max-width: 1455px;
  margin: auto;
  width: 100%;
}
.footer__titre {
  font-family: "Shrikhand";
}
.footer__lien {
  margin-bottom: 8px;
}
.footer__lien__i {
  width: 1.9em;
}

.imageintro {
  height: 260px;
}
.imageintro--1 {
  background: url("/public/img/palette.jpg");
  background-position: center;
  background-size: cover;
}
.imageintro--2 {
  background: url("/public/img/note.jpg");
  background-position: center;
  background-size: cover;
}
.imageintro--3 {
  background: url("/public/img/francaise.jpg");
  background-position: center;
  background-size: cover;
}
.imageintro--4 {
  background: url("/public/img/delice.jpg");
  background-position: center;
  background-size: cover;
}

.menu {
  border-radius: 2em 2em 0 0;
  background: #f0f0f0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1em;
  padding-bottom: 5em;
  position: relative;
  bottom: 40px;
  margin-bottom: -40px;
}
.menu__nom {
  font-family: "Shrikhand";
  font-size: 1.7em;
  width: 10em;
}
@media screen and (min-width: 550px) {
  .menu__nom {
    margin: auto;
    margin-top: 1em;
  }
}
@media screen and (max-width: 355px) {
  .menu__nom {
    font-size: 1.35em;
  }
}
.menu__i {
  font-size: 1.5em;
  margin-top: 0.8em;
  margin-left: 25px;
  position: absolute;
  top: 0.6em;
  right: 2em;
}
@media screen and (max-width: 355px) {
  .menu__i {
    top: 1.5em;
    right: 1em;
  }
}
.menu__titre {
  font-family: "Roboto";
  font-size: 1em;
  margin-top: 2.4em;
  margin-bottom: 5px;
}
@media screen and (min-width: 550px) {
  .menu__titre {
    text-align: center;
  }
}
.menu__sousligne {
  border: solid 2px #99E2D0;
  width: 40px;
}
@media screen and (min-width: 550px) {
  .menu__sousligne {
    margin: auto;
    width: 100px;
  }
}
.menu__proposition {
  background: white;
  padding: 10px;
  margin-bottom: 1em;
  margin-top: 1em;
  border-radius: 1em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.151);
  position: relative;
}
@media screen and (min-width: 550px) {
  .menu__proposition {
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 60%;
  }
}
.menu__proposition__plat {
  font-size: 1.15em;
  margin: 0;
}
.menu__proposition__precision {
  font-family: "Roboto";
  font-size: 0.95em;
  margin: 0;
  margin-top: 5px;
  word-wrap: break-word;
  width: 86%;
}
.menu__proposition__prix {
  margin: 0;
  font-size: 0.95em;
  padding-top: 6px;
  position: absolute;
  right: 18px;
  bottom: 13px;
}
.menu__btn {
  margin: auto;
  width: 185px;
  text-align: center;
  background: #9356dc;
  background: linear-gradient(347deg, #9356dc 0%, #ff79da 100%);
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 3em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.315);
  margin-top: 3em;
}

/*# sourceMappingURL=style.css.map */
